
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300&display=swap');

.html , body{
    height: 100% ;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

header{
    position: sticky;
    top:0 ;
    background-color: white;
    height: 66px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.left img{
    width: 32px;
    height: 23px;
}

nav{
    font-size: 12px ;
    padding-top: 14px;
}

.container{
    padding: 0 10vw ;
}

nav ul li{
    list-style: none;
    padding: 0 12px ;
}

.section1{
    background-color: #f1f1f1;
}

.search{
    width: 30vw;
    border: none ;
    padding: 7px 17px;
    background: #eaecf7;
    border-radius: 5px;
}

.homeImg{
    width: 80vw ;
    margin: 12px 0;
}

.itemImg{
    width: 7.56vw ;
    margin: 5px 0;
}

.shopImg{
    width: 12.999vw
}
.shopImg2{
    width: 26vw;
}


/* footer */

footer{
    background: #FAFBFC ;
    padding: 23px;
    text-align: center;
    box-shadow: rgb(0 0 0/24%) 0px 3px 8px;
}


/* making dynamic */
